<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="marinetConfig" type="Marinete.Common.Config.MarinetConfigSection, Marinete.Common" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <marinetConfig appKey="ask0DsWqyU6wb5-ggvyZvA" appName="MarinetWeb" rootUrl="http://localhost:6262/" />
  
  <connectionStrings>
    <add name="ravenConnLocal" connectionString="DataDir= ~\Data" />
    <add name="ravenConn" connectionString="Url=https://lark.ravenhq.com/databases/AppHarbor_fb7332fc-a1b3-4013-9a95-5b2f782d3dd7;ApiKey=025680b3-d971-44c5-84df-360377cc7abc" />
  </connectionStrings>
  
  <appSettings>
    <add key="ravendb.local" value="false" />
  </appSettings>
    
  <system.web>
    
    <authorization>
      <allow users="*" />
    </authorization>
    
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    
  </system.web>
  
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:9000" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" />
      </customHeaders>
    </httpProtocol>
    
    
  <validation validateIntegratedModeConfiguration="false" /><httpErrors existingResponse="PassThrough" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
  
</configuration>