<div class="box" ng-controller="CommentsCtrl">
    <div class="box-header">
        <div class="title">Comments</div>
    </div>
    <div class="box-content">

        <ul class="chat-box">
            <div ng-repeat="comment in comments">
                <li ng-class-even="'arrow-box-left'" ng-class-odd="'arrow-box-right gray'">
                    <div class="avatar">
                        <i class="icon-user icon-3x"></i>
                    </div>
                    <div class="info">
                        <span class="name"><strong>{{comment.name}}</strong> <span class="badge badge-blue">{{displayRole(comment.role)}}</span></span>
                        <span class="time" am-time-ago="comment.createdAt"></span>
                    </div>
                    {{comment.message}}
                </li>
                <li class="divider"></li>
            </div>

        </ul>

    </div>
    <p class="note text-center">{{lastMessageTime}}</p>
    <hr class="divider">
    <div class="box-footer flat padded">
        <form ng-submit="send()">
            <div class="input-group addon-right">
                <input type="text" required ng-model='message' placeholder="Type your comment">
                <ul class="input-group-addon">
                    <li>
                        <a href="#"><i class="icon-paper-clip"></i></a>
                    </li>
                    <li>
                        <button type="submit" btn-loading class="btn btn-blue">Send</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>