<div class="container">
    <div class="row">
        <div class="area-top clearfix">
            <div class="pull-left header">
                <h3 class="title"><i ng-class="{'icon-ok-sign': error.solved, 'icon-minus-sign': !error.solved}"></i>{{error.message | truncate:25}}</h3>
                <h5><span>A subtitle can go here</span></h5>
            </div>
        </div>
    </div>
</div>
<div class="container padded">
    <div class="row">
        <div id="breadcrumbs">
            <div class="breadcrumb-button blue">
                <a href="#!/apps" class="breadcrumb-label"><i class="icon-dashboard"></i> Dashboard</a>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
                <a href="#!/{{name}}/errors" class="breadcrumb-label"><i class="icon-cog"></i> {{name | truncate:25}}</a>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
                <span class="breadcrumb-label"><i ng-class="{'icon-ok-sign': error.solved, 'icon-minus-sign': !error.solved}"></i> {{error.message | truncate:25}}</span>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="box">
        <div class="box-header">
            <span class="title text-error">Error</span>
            <ul class="box-toolbar">
                <li>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" ng-change="solve()" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="error.solved">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-content padded">
            <table style="clear: both" class="table table-bordered table-striped responsive">
                <tbody>
                    <tr>
                        <td width="20%">User</td>
                        <td width="80%">{{error.currentUser}}</td>
                    </tr>
                    <tr>
                        <td>OS</td>
                        <td>{{error.osVersion}}</td>
                    </tr>
                    <tr>
                        <td>Plataform</td>
                        <td>{{error.platform}}</td>
                    </tr>
                    <tr>
                        <td>Service Pack</td>
                        <td>{{error.servicePack}}</td>
                    </tr>
                    <tr>
                        <td>Processors</td>
                        <td>{{error.processors}}</td>
                    </tr>
                    <tr>
                        <td>Date/Time
                        </td>
                        <td>{{error.createdAt | normalizedate | date:'MMMM, dd yyyy HH:mm:ss'}}
                        </td>
                    </tr>
                    <tr>
                        <td>Message
                        </td>
                        <td>
                            <span class="text-error">{{error.message}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Stack Trace</td>
                    </tr>
                    <tr>
                        <td class="stacktrace" colspan="2">
                            <pre>{{ error.exception }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">More Errors</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <ul class="pagination">
                                <li ng-class="{disabled: error.selected == key}" ng-repeat="key in error.keys">
                                    <a ng-click="load(key)" class="text-center">
                                        {{key}}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-include src="'views/comments.html'"></ng-include>
</div>
