<div class="sidebar-background" ng-if="loggedIn">
    <div class="primary-sidebar-background"></div>
</div>
<div class="primary-sidebar" ng-if="loggedIn">
    <ul id="menu" class="nav navbar-collapse collapse navbar-collapse-primary">
        <li class="active">
            <span class="glow"></span>
            <a ng-href="#!/{{user.accountName}}/dashboard">
                <i class="icon-dashboard icon-2x"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="dark-nav ">
            <span class="glow"></span>
            <a class="accordion-toggle collapsed " data-toggle="collapse">
                <i class="icon-cogs icon-2x"></i>
                <span teste>Applications</span>
            </a>
            <ul>
                <li class="" ng-repeat="app in apps">
                    <a ng-href="#!/{{user.accountName}}/{{app.name}}/errors">
                        <i class="icon-cog"></i><span ng-bind="app.name"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
