<div class="collapse navbar-collapse navbar-collapse-top" ng-controller="TopbarCtrl" ng-if="loggedIn">
    <div class="navbar-right">
        <ul class="nav navbar-nav navbar-left">
            <li class="cdrop">
                <a ng-click="newApp()"><i class="icon-plus-sign"></i>Create New Application</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                    <span>
                        <i class="icon-user icon-2x"></i><span>Conta <i class="icon-caret-down"></i></span>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="with-image">
                        <div class="avatar"><i class="icon-user icon-3x"></i>
                        </div>
                        <span>Conta</span>
                    </li>
                    <li class="divider"></li>
                    <li><a ng-click="logout()"><i class="icon-off"></i><span>Logout</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
