<div ng-controller="MessageController">{{message}}</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-5">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Cadastrar nova aplicação</span>
                    </div>
                    <div class="box-content">
                        <form name="appForm" ng-submit="saveApp()" ng-controller="NewAppController" class="form-horizontal fill-up">
                            <div class="padded">
                                <div class="form-group">
                                    <label class="control-label col-lg-2">Nome</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="appName" ng-model="appName" placeholder="Nome da aplicação…" required focus />
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-blue">Salvar</button>
                                <a href="#" class="btn btn-default">Fechar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="box">
                    <div class="box-header">
                        <span class="title">Aplicações cadastradas</span>
                    </div>
                    <div class="box-content">
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <th>Aplicação</th>
                                    <th>Key</th>
                                    <th style="width: 105px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="app in apps">
                                    <td ng-bind="app.Name"></td>
                                    <td ng-bind="app.Key"></td>
                                    <td>
                                        <div class="btn-group">
                                            <a ng-href="#/{{app.Name}}/errors" class="btn btn-xs btn-success">Erros</a>
                                            <a ng-href="#" class="btn btn-xs btn-danger" ng-click="purge(app.Name)">Purge</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
