<div class="container">
    <div class="row">
        <div class="area-top clearfix">
            <div class="pull-left header">
                <h3 class="title"><i class="icon-cog"></i>{{name | truncate:25}}</h3>
                <h5><span>A subtitle can go here</span></h5>
            </div>
        </div>
    </div>
</div>
<div class="container padded">
    <div class="row">
        <div id="breadcrumbs">
            <div class="breadcrumb-button blue">
                <a href="#" class="breadcrumb-label"><i class="icon-dashboard"></i> Dashboard</a>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
                <span class="breadcrumb-label"><i class="icon-cog"></i> {{name | truncate:25}}</span>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="action-nav-normal">
                <div class="row action-nav-row">
                    <div class="col-sm-11 action-nav-button">
                        <a title="Messages" href="#">
                            <i class="icon-filter"></i>
                            <span>Default</span>
                        </a>
                        <span class="triangle-button blue"><i class="icon-question-sign"></i></span>
                    </div>
                </div>
                <div class="row action-nav-row">
                    <div class="col-sm-11 action-nav-button">
                        <a title="Files" href="#">
                            <i class="icon-sort-down"></i>
                            <span>Order by desc</span>
                        </a>
                        <span class="triangle-button blue"><i class="icon-question-sign"></i></span>
                    </div>
                </div>
                <div class="row action-nav-row">
                    <div class="col-sm-11 action-nav-button">
                        <a title="Friends" href="#">
                            <i class="icon-ok-sign"></i>
                            <span>Only solved</span>
                        </a>
                        <span class="triangle-button blue"><i class="icon-question-sign"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="input-group addon-left">
                <a href="#" class="input-group-addon">
                    <i class="icon-search"></i>
                </a>
                <input type="text" ng-model="query" placeholder="Search..." on-enter="search()">
            </div>
            <div class="search-dropdown box">
                <div class="box-header">
                    <span class="title">Errors</span>
                    <ul class="box-toolbar">
                        <li><span class="label label-red">{{total}}</span></li>
                    </ul>
                </div>
                <div style="overflow-y: auto" class="box-content scrollable" infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                    <div ng-hide="errors.length" class="text-center" style="padding: 25px;">
                        No errors
                    </div>
                    <div class="box-section news with-icons" ng-repeat="error in errors">
                        <div class="avatar red">
                            <i class="icon-minus icon-2x"></i>
                        </div>
                        <div class="news-time">
                            <span>{{error.CreatedAt | normalizedate | date:'H:mm'}}</span>
                            {{error.CreatedAt | normalizedate | date:'MMMM, dd'}}
                        </div>
                        <div class="news-content">
                            <div class="news-title">
                                <a ng-href="#/{{name}}/{{error.Id}}" class="pull-left" title="{{error.Message}}">{{error.Message | truncate:80}}</a>
                                <span class="badge badge-dark-red pull-left" style="margin-left: 5px;">{{error.Count}}</span>
                                <span class="clean">&nbsp;</span>
                            </div>
                            <div class="news-text">
                                {{error.Exception | truncate:200}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-content scrollable text-center" ng-show='busy'>
                    Loading data...
                </div>
                <div class="box-footer flat text-center" style="height: 25px;"></div>
            </div>
        </div>
    </div>
</div>