<!--<blockquote>
        <h3>{{error.CreatedAt | normalizedate | date:'dd/MM/yyyy H:mm'}} <strong>{{error.Message}}</strong> </h3>
        <p>
            <strong>Usuario:</strong><span>{{error.CurrentUser}}</span><br />
            <strong>OS:</strong><span>{{error.OsVersion}}</span><br />
            <strong>Plataform:</strong><span>{{error.Platform}}</span><br />
            <strong>Service Pack:</strong><span>{{error.ServicePack}}</span><br />
            <strong>Processadores:</strong><span>{{error.Processors}}</span><br />
        </p>
        <pre class="stack-trace">{{ error.Exception }}</pre>
    </blockquote>
    <a href="#/{{name}}/errors" class="btn btn-link">Voltar</a>-->

<div class="box">
    <div class="box-header">
        <span class="title">Error</span>
    </div>
    <div class="box-content padded">
        <table style="clear: both" class="table table-bordered table-striped responsive">
            <tbody>
                <tr>
                    <td width="20%">User</td>
                    <td width="80%">{{error.CurrentUser}}</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>{{error.OsVersion}}</td>
                </tr>
                <tr>
                    <td>Plataform</td>
                    <td>{{error.Platform}}</td>
                </tr>
                <tr>
                    <td>Service Pack</td>
                    <td>{{error.ServicePack}}</td>
                </tr>
                <tr>
                    <td>Processors</td>
                    <td>{{error.Processors}}</td>
                </tr>
                <tr>
                    <td>Date/Time
                    </td>
                    <td>{{error.CreatedAt | normalizedate | date:'MMMM, dd yyyy HH:mm:ss'}}
                    </td>
                </tr>
                <tr>
                    <td>Message
                    </td>
                    <td>
                        <span class="text-error">{{error.Message}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Stack Trace</td>
                </tr>
                <tr>
                    <td style="background-color: #ffffcc;" colspan="2">
                        <code style="background-color: #ffffcc;">
                            <pre style="background-color: #ffffcc; border: none;">
                                {{error.Exception}}
                            </pre>
                        </code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <div class="title">Solutions</div>
    </div>
    <div class="box-content">
        <ul class="chat-box">
            <ul class="chat-box">
                <li class="arrow-box-left">
                    <div class="avatar">
                        <img src="../../images/avatars/avatar1.jpg" class="avatar-small">
                    </div>
                    <div class="info">
                        <span class="name"><strong>Michael</strong> <span class="badge badge-blue">designer</span></span>
                        <span class="time">8 minutes ago</span>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </li>
                <li class="divider"></li>
                <li class="arrow-box-right gray">
                    <div class="avatar">
                        <img src="../../images/avatars/avatar2.jpg" class="avatar-small">
                    </div>
                    <div class="info">
                        <span class="name"><strong>Alex</strong> <span class="badge badge-gray">developer</span></span>
                        <span class="time">3 minutes ago</span>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </li>
            </ul>
        </ul>
    </div>
    <p class="note text-center">Last message received at 14:55</p>
    <hr class="divider">
    <div class="box-footer flat padded">
        <form>
            <div class="input-group addon-right">
                <input type="text" placeholder="Standard bootstrap append input here">
                <ul class="input-group-addon">
                    <li>
                        <a href="#"><i class="icon-paper-clip"></i></a>
                    </li>
                    <li>
                        <button class="btn btn-blue">Send</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
