<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="marinetConfig" type="Marinete.Common.Config.MarinetConfigSection, Marinete.Common" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <marinetConfig appKey="_HW6kuKEXEaBTj0JuBCJHw" appName="MarineteWeb" rootUrl="http://localhost:6262/" />
  
  <connectionStrings>
    <add name="ravenConn" connectionString="C:\work\levelupgames.marinete\src\Marinete.Web\Data" />
  </connectionStrings>
  
  
  
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.0">
      
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers><add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" /></handlers>
  </system.webServer>
  

  
</configuration>