<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="marinetConfig" type="Marinete.Common.Config.MarinetConfigSection, Marinete.Common" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <marinetConfig appKey="ask0DsWqyU6wb5-ggvyZvA" appName="MarinetWeb" rootUrl="http://localhost:6262/" />
  
  <connectionStrings>
    <add name="ravenConnLocal" connectionString="DataDir= ~\Data" />
    <add name="ravenConn" connectionString="Url=https://lark.ravenhq.com/databases/AppHarbor_617c7cb8-cb80-4ff2-9336-04a7ad58624f;ApiKey=20d8e39d-2207-4a0f-b23f-ccb03de8d8bd" />
  </connectionStrings>
  
  <appSettings>
    <add key="ravendb.local" value="false" />
  </appSettings>
    
  <system.web>
    
    <authorization>
      <allow users="*" />
    </authorization>
    
    <compilation debug="true" targetFramework="4.0" />
    
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    
  </system.web>

  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    
  </system.webServer>
  
</configuration>